<div class="row">


  <div class="col-md-12">
    <h4><a ui-sref="master.settings"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i></a> &nbsp;&nbsp;Add Material Details</h4><br>
    <div class="table-responsive">

      <div class="col-md-12">
        <button type="button" class="btn-flat btn btn-warning">ADD</button>
        <button type="button" class="btn-flat btn btn-warning">DELETE</button>
      </div><br><br>
      
      <section class="content">
        <div class="row">
          <div class="col-xs-12">

            <!-- /.box -->

            <div class="box">
              <div class="box-header">
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>S no</th>
                      <th>Material Details</th>
                      <th>UOM</th>
                      <th>Safety Stock </th>
                      <th>Rate </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>
                          <input class="form-control input-sm" type="text" />
                      </td>
                      <td><label class="col-md-6"><select class="form-control input-sm">
                    <option>Select</option>
                    <option>Sq.ft</option>
                    <option>Nos.</option>
                </select>
          </label></td>
                      <td> <input class="form-control input-sm" type="text" /> </td>
                      <td> <input class="form-control input-sm" type="text" /> </td>
                    </tr>
                    
                    
                </table><br>
                <span class="pull-right">
        <button type="button" class="btn-flat btn btn-warning">SUBMIT</button>
        <button type="button" class="btn-flat btn btn-warning">CANCEL</button></span>
      
              </div>
              
              <!-- /.box-body -->
            </div>
            
            <!-- /.row -->
      </section>

      <div class="clearfix"></div>
      <!--<ul class="pagination pull-right">
        <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
      </ul>-->

      </div>

      </div>
    </div>
  </div>