<div style="width:100%;background:#e9edf2;border-bottom:1px solid #FFA500;padding:1%;color:#74767;padding-left:5%;font-size:16px;margin:0 auto;text-align:center;font-weight:600;">
    Material Master
</div>

<div style="width:95%;background:#fff;min-height:1000px;margin:0 auto;">
    <br/>

    <div style="width:90%;margin:0 auto;">

        <div class="input-group" style="width:50%;margin-left:56%;">
            <div class="input-group-btn search-panel">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                     <span id="search_concept">Material Name</span> <span class="caret"></span>
                    </button>
                <ul class="dropdown-menu" role="menu" ng-click="vm.searchTxt();">
                    <li><a title="#srhName">Material Name</a></li>
                    <li ng-hide="vm.companyId !== 'CH0001'"><a title="#srhId">Material Id</a></li>
                    <li><a title="#srhCate">Category Name</a></li>
                    <li ng-hide="vm.companyId !== 'CH0001'"><a title="#srhSubCate">SubCategory Name</a></li>
                </ul>
            </div>
            <input type="hidden" name="search_param" value="all" id="search_param">
            <input type="text" class="form-control" ng-model="vm.srhName" id="srhName" name="x" placeholder="Search...." style="border:1px solid #ccc;">
            <div class="input-group" id="srhId" style="display:none;width:100%;">
                <input type="text" class="form-control" ng-model="vm.srhId" name="y" placeholder="Search Material" style="border:1px solid #ccc;">
            </div>
            <div class="input-group" id="srhCate" style="display:none;width:100%;">
                <select ng-model="vm.srhCate" ng-options="option._id as option.name for option in vm.categoryList" class="form-control">
                    <option value="">Select Category</option>
                </select>
            </div>
            <div class="input-group" id="srhSubCate" style="display:none; width:100%;">
                <select ng-model="vm.srhSubCate" ng-options="option._id as option.name for option in vm.subCategoryList" class="form-control">
                    <option value="">Select SubCategory</option>
                </select>
            </div>
            <span class="input-group-btn">
                    <button class="btn btn-default" type="button" title="Search" ng-click="vm.searchfilterSearch(true, vm.begin, vm.end)" ><span class="glyphicon glyphicon-search"></span></button>
            </span>

            <span class="input-group-btn">
                    <button class="btn btn-default" type="button" title="Reload" ng-click="vm.reload()"><span class="glyphicon glyphicon-repeat"></span></button>
            </span>


        </div>
    </div>
    <br/>
    <br/>

    <div style="width:90%;margin:0 auto;margin-left:3.5%;margin-top:-2%;">
        <select ng-model="vm.ddlRows" id="ddlNoRows" class="app_ddl" ng-change="vm.ddlRowsChange(vm.ddlRows)" style="margin-left:-3.5%;">
        <option value="10">10</option>
        <option value="50">50</option>
        <option value="100">100</option>      
  </select>

        <!--Add New-->
        &nbsp;&nbsp;&nbsp;<button ng-if="vm.MaterialMasterAccess.c === 'y'" type="button" class="btn btn-default" data-toggle="modal"
            href='#addpopup' ng-click="vm.getallmats();">
        <span class="glyphicon glyphicon-pencil"></span> Add Material</button>
    </div>

    <!--CH Changes Starts-->

    <button type="button" ng-if="vm.getCompDet == 'CH0001' && vm.getCompDet !== 'CO00001'" onClick="javascript:demoFromHTML()"
        title="Download Excel" class="btn btn-default" style=" font-size:16px;margin-left:95%; margin-top: -0.5cm; width: 40px;"><span class="glyphicon glyphicon-cloud-download"></span></button>

    <!--CH Change Ends-->

    <button type="button" ng-if="vm.getCompDet !== 'CH0001' && vm.getCompDet == 'CO00001'" ng-onClick="exportExcel()" title="Download Excel"
        class="btn btn-default" style=" font-size:16px;margin-left:96.7%; margin-top:-3%; width: 40px;"><span class="glyphicon glyphicon-cloud-download"></span></button>

    <div class="row">
        <div class="col-md-12">
            <div class="panel-body" style="margin-left:-3%;width:106%;">
                <!--<div class="table-responsive" style="font-size:100%;word-wrap: break-word"">-->
                <div ng-if="vm.getCompDet !== 'CH0001' && vm.getCompDet == 'CO00001'" class="table-responsive" style="font-size:100%;word-wrap: break-word">
                    <table class="table table-bordered grid" id="tblExcel1" style=" table-layout:fixed;" ng-cloak>
                        <thead>
                            <tr style="text-align:center;">
                                <th class="" style="width:5%;">
                                    Sl.No
                                </th>
                                <th class="gcmName" style="width: 10%;">
                                    Category Name
                                </th>
                                <th class="gcmMId" style="width: 10%;">
                                    Material ID
                                </th>
                                <th class="gcmName" style="width: 12%;">
                                    MaterialName
                                </th>
                                <th class="gcmUnit" style="width: 6%;">
                                    UOM
                                </th>
                                <th class="gcmQty" style="width: 8%;">
                                    Minimum
                                </th>
                                <th class="gcmQty" style="width: 7%;">
                                    Available
                                </th>
                                <th class="" style="width: 9%;">
                                    Rate
                                </th>
                                <th class="gcmUpdby" style="width: 8%;">
                                    Updated By
                                </th>
                                <!--<th style="width:6%;">
                                    Status
                                </th>-->
                                <th class="gcmAction noExl" style="width: 9%;" ng-if="vm.MaterialMasterAccess.u === 'y'|| vm.MaterialMasterAccess.d === 'y'">
                                    Action</th>
                            </tr>

                        </thead>
                        <tr material-Master-Grid index="{{$index+vm.paginationNumber}}" ng-repeat="item in vm.mmApp" mmedit="vm.mmedit(data);" item="item">
                        </tr>
                        <tr>
                            <td colspan="10" ng-show="vm.mmApp.length ===0 || vm.mmApp == undefined || vm.mmApp == null" class="noRec noExl" style="text-align:center">
                                No Records Found
                            </td>
                        </tr>

                    </table>
                    <!--CH Change Ends-->
                </div>
                <div ng-if="vm.getCompDet == 'CH0001' && vm.getCompDet !== 'CO00001'" class="table-responsive" style="font-size:100%;word-wrap: break-word">
                    <table class="table table-bordered grid" id="tblpdf" style=" table-layout:fixed;" ng-cloak>
                        <thead>
                            <tr style="text-align:center;">
                                <th class="" style="width:6%;">
                                    Sl.No
                                </th>
                                <th class="gcmName" style="width: 11%;">
                                    Category Name
                                </th>
                                <th class="gcmName" style="width: 13%;">
                                    SubCategory Name
                                </th>
                                <th style="width:11%;">
                                    Material Code
                                </th>
                                <th style="width:15%;">
                                    Material Name
                                </th>
                                <th title="specification" style="width:10%;">
                                    Specification
                                </th>
                                <th class="" style="width: 9%;">
                                    Rate
                                </th>
                                <th class="gcmAction noExl" style="width:7%;" ng-if="vm.MaterialMasterAccess.u === 'y'|| vm.MaterialMasterAccess.d === 'y'">
                                    Action</th>
                            </tr>
                            <!--<th style="width:6%;">
                                    Status
                                </th>-->

                        </thead>
                        <tr material-Master-Grid index="{{$index+vm.paginationNumber}}" ng-repeat="item in vm.mmApp" mmedit="vm.mmedit(data);" item="item">
                        </tr>
                        <tr>
                            <td colspan="8" ng-show="vm.mmApp.length ===0 || vm.mmApp == undefined || vm.mmApp == null" class="noRec noExl" style="text-align:center">
                                No Records Found
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 showEnt" ng-show="true" style="margin-left:-5%;">
            <span ng-if="vm.mmApp.length > 0"> Total Rows : {{vm.rowCnt}}</span>
            <span ng-if="vm.mmApp === undefined"> Total Rows : 0 </span>
        </div>

        <!--Pagination for materialMaster-->
        <div class="col-md-6 pagination">
            <pagination ng-show="vm.rowCnt > vm.ddlRows" ng-model="currentPage" items-per-page="vm.ddlRows" total-items="vm.rowCnt" max-size="maxSize"
                boundary-links="true" style="margin-left: 36%;">
            </pagination>
        </div>
    </div>

    <!--Add Popup-->
    <div class="modal fade" id="addpopup">
        <div class="modal-dialog popup-position pi-popup" style="width:90%;">
            <div class="modal-content ">
                <div class="modal-header" style="height:30%">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.close();">&times;</button>
                    <h4 class="modal-title">Add Material</h4>
                </div>
                <div class="row ">
                    <div class="col-md-1 ">
                        <button type="button " ng-click="vm.addRow();" class="btn addRow"><i class="fa fa-plus fa-lg " aria-hidden="true "></i>
                                    </button>

                    </div>
                    <select ng-if="vm.getCompDet == 'CO00001'" class="input-sm select" ng-model="vm.count" style="margin-left:-45%;">
                                    <option ng-repeat="i in 10 | range">{{i+1}}</option>
                                    <!--<option ng-repeat-n="10">{{$index}}</option>-->
                     
                    </select>
                    <select ng-if="vm.getCompDet == 'CH0001'" class="input-sm select" ng-model="vm.count" style="margin-left:-66%;">
                                    <option ng-repeat="i in 10 | range">{{i+1}}</option>
                                    <!--<option ng-repeat-n="10">{{$index}}</option>-->
                     
                    </select>
                    <!--<div class="col-md-1 ">
                                            <button type="button" ng-click="vm.deleterow('edit');" class="btn deleteRow pull-right "><i class="fa fa-trash fa-lg "></i>
                                    </button>
                                        </div>-->

                    <div ng-if="vm.getCompDet == 'CO00001'" class="col-md-2" style="margin-left:4%;width:19%;">
                        <select ng-model="vm.category" ng-options="option._id as option.name for option in vm.categoryList" ng-change="getStoreType(branch);"
                            class="form-control">
                                        <option value="">Select Category</option>
                                    </select>
                    </div>
                    <div ng-if="vm.getCompDet == 'CH0001'" class="col-md-2" style="margin-left:4%;width:19%;">

                        <select id="popCatDDL" ng-model="vm.category" ng-options="option._id as option.name for option in vm.categoryList" ng-change="vm.getsubCategory(vm.category);"
                            class="form-control">
                                        <option value="">Select Category</option>
                                    </select>
                    </div>
                    <div ng-if="vm.getCompDet == 'CH0001'" class="col-md-2" style="margin-left:2%;width:19%;">
                        <select ng-model="vm.subCategory" ng-options="option._id as option.name for option in vm.subCategoryList" ng-change="vm.getsubsize(vm.category,vm.subCategory);"
                            class="form-control">
                                        <option value="">Select Sub-Category</option>
                                    </select>
                    </div>
                    <div class="col-md-2" style="margin-left:2%;width:19%;">
                        <!--<select ng-model="vm.Editstore" ng-options="option._id as option.name for option in vm.storeNameList" class="form-control">
                                        <option value="">Select Store</option>
                                    </select>-->
                    </div>
                </div>
                <div class="row"></div>
                <div class="modal-body modal-height">
                    <table class="table table-striped" style="background:#f9f9f9;" ng-cloak>
                        <thead span ng-if="vm.getCompDet =='CO00001'">
                            <td class="text-center" style="width:5%;">#</td>
                            <td class="text-center" style="width:11%;">Material Code</td>
                            <td class="text-center" style="width:25%;">Material Name</td>
                            <td class="text-center" style="width:15%;">Uom</td>
                            <td class="text-center" style="width:15%;">Safety Stock</td>
                            <td class="text-center" style="width:15%;">Quantity</td>
                            <td class="text-center" style="width:15%;">Rate</td>
                            <td style="width:10%;">Actions</td>
                        </thead>
                        <thead span ng-if="vm.getCompDet =='CH0001'">
                            <td class="text-center">Sl.No</td>
                            <td class="text-center">Material Name</td>
                            <td class="text-center">Material Type</td>
                            <td class="text-center">Uom</td>
                            <td class="text-center">Size</td>
                            <td class="text-center">Specification</td>
                            <td style="width:10%;">Action</td>
                        </thead>
                        <tr material-master-add index="{{$index+1}}" ng-repeat="item in vm.materialsAdd" item="item" onRemove="vm.materialsAdd.splice($index, 1);">
                        </tr>
                    </table>
                </div>
                <table class="table table-striped" style="width: 96%;margin-left: 2%;margin-bottom:0%;" ng-cloak>
                    <tr>
                        <td class="col-md-1 text-center"></td>
                    </tr>
                </table>
                <div class="modal-footer">
                    <!--<button type="button " class="btn btn-default " ng-click="vm.newmaterialAdd();"><i class="fa fa-archive " aria-hidden="false"></i>&nbsp;&nbsp;Draft</button>-->
                    </span>
                    <button type="button " class="btn btn-primary " ng-click="vm.newmaterialAdd();"><i class="fa fa-floppy-o " aria-hidden="true"></i>&nbsp;&nbsp;Submit</button>
                </div>
            </div>
        </div>
    </div>

    <script>
            $("#mainLoading").hide();
        </script>


    <script type="text/javascript" src="../../../assets/export/jquery.table2excel.js" />
    <script type="text/javascript"> 
    function exportExcel() {                
    var exTable = $('#tblExcel1').clone(); 
    exTable.find('.noExl').remove();              
    exTable.table2excel({
            exclude: ".noExl",
            name: "Material Master",
            filename: "Material Master",
            fileext: ".xls",  
            exclude_img: true,
            exclude_links: true,
            exclude_inputs: false         
        });       
    }
function demoFromHTML() {

  var doc = new jsPDF('p', 'pt','a2');

  var res = doc.autoTableHtmlToJson(document.getElementById("tblpdf"));
  doc.autoTable(res.columns, res.data, {margin: {top: 80}});

//   doc.setFontSize(14);
//     doc.setTextColor(40);
//     doc.setFontStyle('normal');

  var header = function(data) {
    doc.setFontSize(14);
    doc.setTextColor(40);
    doc.setFontStyle('normal');
    //doc.addImage(headerImgData, 'JPEG', data.settings.margin.left, 20, 50, 50);
    doc.text("Material Details", data.settings.margin.left, 50);
  };

  var options = {
    beforePageContent: header,
    theme: 'striped',
    overflow: 'linebreak',
    tableWidth: 'auto',
    fillStyle: 'F',
    columnStyles: {
      1: {columnWidth: 'auto'}
    },
    margin: {
      top: 80
    },
    // startY: doc.autoTableEndPosY() + 20
  };

  doc.autoTable(res.columns, res.data,options);

  doc.save("Material Details.pdf");
}