<script src="assets/js/jquery.dataTables.min.js">
</script>
<script src="assets/js/dataTables.responsive.min.js"></script>

<link href="assets/css/dataTable.min.css" rel="stylesheet" type="text/css">
<link href="assets/css/responsive.dataTables.min.css" rel="stylesheet" type="text/css">

<style>
    input[type="password"] {
    padding: 1em 0em 1em 2.7em;
        width: 100%;
            border: 1px solid #dce1e4;
    color: black;
    /* font-size: 15px; */
    outline: none;
    background: none;
    font-weight: 500;
}


</style>
<div style="width:100%;background:#e9edf2;border-bottom:1px solid #FFA500;padding:1%;color:#74767;padding-left:5%;font-size:16px;margin:0 auto;text-align:center;font-weight:600;" class="ng-scope">
  Change Password
</div>


<div class="login" style="width:70%;">	
			<div class="ribbon-wrapper h2 ribbon-red">
				<div class="ribbon-front" style="text-align: left;width: 100%;">
				</div>
				<div class="ribbon-edge-topleft2"></div>
				<div class="ribbon-edge-bottomleft" style="display:none;"></div>
			</div>
    
    <div>
    	<form class="form-horizontal" style="margin-top: -5%;">
    <div class="form-group" style="margin-bottom:25px !important;">
        <label for="inputEmail" class="control-label col-xs-4" style="color:black;">Current Password</label>
        <div class="col-xs-6">
            <input type="password" ng-model="vm.curpass" class="form-control" id="inputEmail" placeholder="Current Password">
        </div>
    </div>
    
    <div class="form-group" style="margin-bottom:25px !important;">
        <label for="inputPassword"  class="control-label col-xs-4" style="color:black;">New Password</label>
        <div class="col-xs-6">
            <input type="password" ng-model="vm.newPass" class="form-control" id="inputPassword" placeholder="New Password">
        </div>
    </div>
    <div class="form-group" style="margin-bottom:25px !important;">
        <label for="inputPassword" class="control-label col-xs-4" style="color:black;">Re-type Password</label>
        <div class="col-xs-6">
            <input type="password" ng-model="vm.rePass" class="form-control" id="inputPassword" placeholder="Re-type Password">
        </div>
    </div>
			<div class="form-group">
        <button type="button" style="background-color:green;color:#FFF;float:right;margin-right:144px;margin-top:2%;" class="btn btn-primary" ng-click="vm.submitPassword();">Save Changes</button>
        <!--<a class="btn btn-link backLogin" ng-click="vm.backlogin();" style="color:white;margin-top:-4%;"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;&nbsp;Back to login</a>-->
          </div>
    </div>
    </div>

    

    

    
        
   