<tr data-toggle="collapse" data-target="#{{ 'demo' + vm.index}}" class="accordion-toggle" ng-init="parentIndex = vm.index"
    style="background: #f4f4f4;">
    <td style="width:4%;">
        <button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open"></span></button></td>
    <td style="font-weight: 600;font-size: 15px;width:100%;" ng-if="vm.getCompDet == 'CH0001' && vm.getCompDet !== 'CO00001'"> {{vm.item.id}} / Category: {{vm.getCategory(vm.item.category_id)}} /  Project: {{vm.getProject(vm.item.project)}} / Order Type : {{vm.item.order_type}} / Raised by : {{vm.item.updated_by.name}} / Date : {{vm.item.datetime | date: 'dd-MMM-yyyy' }}</td>
    <td style="font-weight: 600;font-size: 15px;width:100%;" ng-if="vm.getCompDet !== 'CH0001' && vm.getCompDet == 'CO00001'"> {{vm.item.id}} /  Raised by : {{vm.item.updated_by.name}} / Date : {{vm.item.datetime | date: 'dd-MMM-yyyy' }} </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td colspan="12" class="hiddenRow">
        <div class="accordian-body collapse" id="{{ 'demo' + vm.index}}" style="width:103%;">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width:7%;">S.no</th>
                        <th style="width:12%;" ng-if="vm.getCompDet !== 'CH0001' && vm.getCompDet == 'CO00001'">Category</th>
                        <th style="width:12%;">Material </th>
                        <th ng-if="vm.getCompDet == 'CH0001' && vm.getCompDet !== 'CO00001'">Size</th>
                        <th ng-if="vm.getCompDet == 'CH0001' && vm.getCompDet !== 'CO00001'">Specification</th>
                        <th style="width:12%;"> UOM</th>
                        <th style="width:12%;"> Quantity</th>
                        <th style="width:12%;"> Unit Rate</th>
                        <th style="width:13%;"> Total Amount</th>
                        <th>Actions </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in vm.item.materials track by $index" style="background-color: white;">
                        <td>{{$index + 1}}</td>
                        <td ng-if="vm.getCompDet !== 'CH0001' && vm.getCompDet == 'CO00001'">{{vm.getCategory(item.category_id)}}</td>
                        <td>{{item.mat_code}} - {{item.name}}</td>
                        <td ng-if="vm.getCompDet == 'CH0001' && vm.getCompDet !== 'CO00001'">{{item.size}}</td>
                        <td ng-if="vm.getCompDet == 'CH0001' && vm.getCompDet !== 'CO00001'">{{item.specification}}</td>
                        <td>{{item.uom.name}}</td>
                        <td><span ng-if="item.approved_quantity == null">0</span>
                        <span ng-if="item.approved_quantity !== null">{{item.approved_quantity}}</span></td>
                        <td ng-init="vm.getUnitRate(item);">{{item.rate}}</td>
                        <td>{{item.approved_quantity * item.rate}}</td>
                        <td><span ng-show="vm.addSign(item);" id="{{'poAct'+vm.item.id+$index}}" ng-click="vm.addPIDet(vm.item.materials,vm.item.id,vm.item.order_type,vm.item,$index)"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></span>
                            <span ng-if="item.status.name == 'Ordered' " id="{{'poAct'+vm.item.id+$index}}"
                                style="color:green;font-size:14px;"><b>Converted to PO</b></span>
                                <span ng-if="item.status.name == 'Rejected'" id="{{'poAct'+vm.item.id+$index}}"
                                style="color:green;font-size:14px;"><b>Material Rejected</b></span>
                            <span ng-if="!vm.addSign(item) && item.status.name !== 'Ordered' && item.status.name !== 'Rejected'" id="{{'poAct'+vm.item.id+$index}}" ng-click="vm.addPIDet(vm.item.materials,vm.item.id,vm.item.order_type,vm.item,$index)"
                                style="color:green;font-size:14px;"><b>Materials not availale for this Vendor</b></span>
                        </td>
                        <!--<td ng-hide="vm.button" ng-click="vm.button = true; vm.deletePIDet(vm.item.materials,vm.item.id,$index)"><i class="fa fa-minus" aria-hidden="true"></i></td>-->
                    </tr>
                </tbody>
            </table>
        </div>
    </td>
</tr>
</tbody>