<style>
  .qty {
    width: 50px;
  }
</style>
<div class="row">


  <div class="col-md-12">
    <h4><a ui-sref="master.matrerialrequisition"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i></a> &nbsp;&nbsp;Add Material Request</h4><br>
    <div class="table-responsive">

      <div class="col-md-12">
        <button class="btn btn-remove btn-success pull-right" type="button"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add</button><br><br>
      </div>

      <section class="content">
        <div class="row">
          <div class="col-xs-12">

            <!-- /.box -->

            <div class="box box-info">
              <div class="box-header">
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <table id="example1" class="table table-bordred">
                  <thead>
                    <tr>
                      <th>S no</th>
                      <th>Material Description</th>
                      <th>UOM</th>
                      <th>Quantity </th>
                      <th>Actions</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td class="col-md-4">

                        <select class="form-control input-sm col-md-6">
                    <option>Select</option>
                    <option>50 * 50 Sliding material</option>
                    <option>25 * 35 Casement material </option>
                    <option>75 * 25 Tilt Window</option>
                    <option>45 * 25 Sliding Window </option></select>
                      </td>
                      <td>Sq ft</td>
                      <td> <input type="text" class="qty input-mini" value="150" /> </td>
                      <!--<td> <textarea type="text" class="input-mini col-md-12"></textarea> </td>-->
                      <td><button class="btn btn-danger btn-sm" data-title="Delete"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
                      <!--<td><button class="btn btn-remove btn-danger" type="button"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>-->
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>

                        <select class="form-control input-sm col-md-6">
                    <option>Select</option>
                    <option>50 * 50 Sliding material</option>
                    <option>25 * 35 Casement material </option>
                    <option>75 * 25 Tilt Window</option>
                    <option>45 * 25 Sliding Window </option></select>
                      </td>
                      <td></td>
                      <td> <input type="text" class="qty input-mini" value="150" /> </td>
                      <!--<td> <textarea type="text" class="input-mini col-md-12"></textarea> </td>-->
                      <!--<td><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></td>-->
                      <td><button class="btn btn-danger btn-sm" data-title="Delete"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>

                        <select class="form-control input-sm col-md-6">
                    <option>Select</option>
                    <option>50 * 50 Sliding material</option>
                    <option>25 * 35 Casement material </option>
                    <option>75 * 25 Tilt Window</option>
                    <option>45 * 25 Sliding Window </option></select>
                      </td>
                      <td></td>
                      <td> <input type="text" class="qty input-mini" value="150" /> </td>
                      <!--<td> <textarea type="text" class="input-mini col-md-12"></textarea> </td>-->
                      <!--<td><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></td>-->
                      <td><button class="btn btn-danger btn-sm" data-title="Delete"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>

                        <select class="form-control input-sm col-md-6">
                    <option>Select</option>
                    <option>50 * 50 Sliding material</option>
                    <option>25 * 35 Casement material </option>
                    <option>75 * 25 Tilt Window</option>
                    <option>45 * 25 Sliding Window </option></select>
                      </td>
                      <td></td>
                      <td> <input type="text" class="qty input-mini" value="150" /> </td>
                      <!--<td> <textarea type="text" class="input-mini col-md-12"></textarea> </td>-->
                      <td><button class="btn btn-danger btn-sm" data-title="Delete"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>

                    </tr>


                </table><br>
                <div class="pull-right">
                  <div><label>Remarks</label></div>
                  <div> <textarea name="" id="" cols="50" row="" style="VERTICAL-ALIGN:bottom;"></textarea>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span>
                        <button type="button" class="btn btn-warning btn-flat" data-toggle="modal" data-target="#remarks" ><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp;Save</button>
                        <button type="button" class="btn btn-warning btn-flat"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;&nbsp;Cancel</button>
                  </span></div>
                </div>
                <!--<label > Forward to :&nbsp;&nbsp;<select class="input-mini input-sm">
                    <option>Select</option>
                    <option>Nandagopal Palani</option>
                    <option>Munusamy Ratnam</option>
                    <option>Dhakshnamoorthy</option>
                    <option>Narendran Kamalanathan</option>
                </select>
          </label>-->
                <div class="col-md-12">

                </div>
              </div>

              <!-- /.box-body -->
            </div>

            <!-- /.row -->
      </section>

      <div class="clearfix"></div>


      </div>

      </div>
    </div>
  </div>

  <div id="remarks" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <div>
            <b>Remarks</b></div>
          <div><textarea name="" id="" cols="80" rows="5"></textarea></div>
        </div>
        <div class="modal-footer ">
          <button type="button" class="btn btn-default btn-warning" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>