<td style="vertical-align:inherit;" align="center" align="center">
    <label>{{vm.index}}</label>
</td>
<td ng-if="vm.getCompDet !== 'CH0001' && vm.getCompDet == 'CO00001'" class="form-group">
    <select ng-model="vm.item.category" ng-options="option._id as option.name for option in vm.categoryList" ng-change="vm.getMaterial(vm.item.category);"
        class="form-control" ng-class="vm.catcheck(vm.item.nocat);">
                                        <option value="">Select Category</option>
                                    </select>
</td>

<td align="center">
    <select ng-model="vm.materialType" ng-change="vm.matrl(vm.materialType);" class="form-control" ng-class="vm.matcheck(vm.item.nomat)">
                                        <option value="">Select Material</option>
                                        <option ng-repeat="option in vm.materialdet" value="{{option.id}}">{{option.id}}</option>
                                    </select>
</td>
<td align="center">
   <input type="text" class="form-control" title="Material Size : {{vm.item.size.name}}&#013;Specification : {{vm.item.specification}}&#013;Type : {{vm.item.matType}} " ng-model="vm.item.name" value="{{vm.item.name}}" disabled style="border: 1px solid #CCC;">
</td>
<!--<td align="center" ng-if="vm.getCompDet == 'CH0001' && vm.getCompDet !== 'CO00001'">
    <input type="text" class="form-control" ng-model="vm.item.size.name" value="{{vm.item.size.name}}" disabled style="border: 1px solid #CCC;">
</td>
<td align="center" ng-if="vm.getCompDet == 'CH0001' && vm.getCompDet !== 'CO00001'">
    <input type="text" class="form-control" ng-model="vm.item.specification" value="{{vm.item.specification.name}}" disabled style="border: 1px solid #CCC;">
</td>-->
<td align="center">
    <input type="text" class="form-control" ng-model="vm.item.uom.name" value="{{vm.item.uom.name}}" disabled style="border: 1px solid #CCC;">
</td>
<td align="center">
    <input type="text" class="form-control" ng-model="vm.item.quantity" ng-class="vm.class(vm.item.noqty)" maxlength="5" ng-change="vm.quantityVal()"
        value="" style="border: 1px solid #CCC;background-color: white;">
</td>
<td align="center" style="vertical-align:inherit;">
    <label ng-model="vm.item.avlquantity">{{vm.item.avlquantity}}</label>
</td>
<td align="center">
    <div class="checkbox checkbox-primary" style="vertical-align:inherit;">
        <input id="checkbox" type="checkbox" ng-model="vm.item.row">
    </div>
</td>