<td class="gcValSlno">
    {{vm.index}}
</td>
<td class="gcValID">
    {{vm.item.id}}
</td>
<td class="gcValID">
    <span ng-repeat="id in vm.item.po track by $index">
            {{id}} {{$last ? '' : ','}}
  </span>
</td>
<td class="gcValDate" style="text-align:center;">
    {{vm.item.invoice_no}} <br> <small>{{vm.item.invoice_dt |date: 'dd-MMM-yyyy'}}</small>
</td>
<td class="gcValDate">
    {{vm.item.gross_amount | currency:'&#8377;'}}
</td>
<td class="gcValName">
    {{vm.item.created_by.name}} <br>
    <span ng-if="vm.item.branch == '5731bd45d4c6e63ae1d21e0b'">
         <small>Chennai</small></span>
</td>
<td class="gcValStatus">
    <span ng-if="vm.item.status.name == 'Approved' ">
        <span class="label label-success">{{vm.item.status.name}}</span></span>
    <span ng-if="vm.item.status.name == 'Created' ">
        <span class="label label-success"> {{vm.item.status.name}} </span> </span>
    <span ng-if="vm.item.status.name == 'Audited' ">
        <span class="label label-success" > {{vm.item.status.name}} </span></span>
</td>
<td class="gcValRemark">
    {{vm.item.remarks}}
</td>
<td class="gcValAction">
    <span>
        <button type="button" title="Tracksheet" class="btn btn-default trackPOLeft" ng-click="vm.openTrackSheet(vm.item.id)">
        <i class="fa fa-line-chart" aria-hidden="true"></i>
        </button></span>
    <span ng-if="vm.item.status.name == 'Pending' ">
        <button type="button" title="Tracksheet" class="btn btn-default" data-toggle="modal" href='#edit'>
        <i class="fa fa-archive fa-lg" aria-hidden="false"></i>
        </button>
        &nbsp;
        <button type="button" title="Delete" class="btn btn-default">
           <i class="fa fa-trash fa-lg"></i>
        </button></span></td>