
<div style="width:100%;background:#e9edf2;border-bottom:1px solid #FFA500;padding:1%;color:#74767;padding-left:5%;font-size:16px;margin:0 auto;text-align:center;font-weight:600;">
    Stock Availability
</div>
<div style="width:95%;background:#fff;min-height:1000px;margin:0 auto;">
<div style="width:90%;margin:0 auto;" ng-cloak>
    <div class="input-group" style="width:50%;float:right;margin-top:2%;">
        <div class="input-group-btn search-panel">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                     <span id="search_concept">Material code</span> <span class="caret"></span>
                    </button>
            <ul class="dropdown-menu" role="menu" ng-click="vm.searchTxt();">
                <li><a title="#matCode">Material code</a></li>
                <li><a title="#matName">Material Name</a></li>
                <li><a title="#srhPro"> Project</a></li>
                <li><a title="#srhCate">Category Name</a></li>
                <li><a title="#srhSubCate">subCategory Name</a></li>

            </ul>
        </div>
        <input type="hidden" name="search_param" value="all" id="search_param" style="border:1px solid #ccc;">

        <input type="text" class="form-control" id="matCode" ng-model="vm.matCode" name="x" placeholder="Search..." style="border:1px solid #ccc;">
        <!--<div class="input-group"  id="matName" style="display:none;width:21%;">
                        <input type="text" class="form-control" placeholder="search .." value="" ng-model="vm.matName" style="border: 1px solid #CCC;"
                        />
                    </div>-->
        <div class="input-group" id="matName" style="display:none;width:100%;">
            <input type="text" class="form-control" id="matName" ng-model="vm.matName" placeholder="Search" style="border:1px solid #ccc;">
        </div>
        <div class="input-group" id="srhPro" style="display:none; width:100%;">
            <select ng-model="vm.srhPro" id="srhPro" ng-options="option._id as option.name for option in vm.projectList" class="form-control">
                    <option value="">Select Project</option>
                </select>
        </div>
        <div class="input-group" id="srhCate" style="display:none; width:100%;">
            <select ng-model="vm.srhCate" id="srhCate" ng-options="option._id as option.name for option in vm.CategoryList" class="form-control">
                    <option value="">Select Category</option>
                </select>
        </div>
        <div class="input-group" id="srhSubCate" style="display:none; width:100%;">
            <select ng-model="vm.srhSubCate" id="srhSubCate" ng-options="option._id as option.name for option in vm.subCategoryList"
                class="form-control">
                </select>
        </div>

        <span class="input-group-btn" title="Search">
                    <button class="btn btn-default" type="button" ng-click="vm.stockAvl(true, vm.begin, end)"><span class="glyphicon glyphicon-search"></span></button>
        </span>

        <span class="input-group-btn" title="Reload">
                    <button class="btn btn-default" type="button" ng-click="vm.reload();"><span class="glyphicon glyphicon-repeat"></span></button>
        </span>
    </div>
    <div style="width:90%;margin:0 auto;">
        <select ng-model="vm.ddlRows" id="ddlNoRows" class="app_ddl" ng-change="vm.ddlRowsChange()" style="margin-left:-13%;margin-top:10%;">
        <option>10</option>
        <option>50</option>
        <option>100</option>      
  </select>
    </div>
     <div style="margin-top:-2%;margin-left:5%;">
         <label for="" >Project</label>
         <div style="">
             <select class="form-control" ng-model="vm.project" ng-change="vm.getStock(vm.project)" ng-options="option._id as option.name for option in vm.projectEmpList" style="width:15%;margin-top:-3.5%;margin-left:6%;">
            <!--<option value="">Select Project</option>-->
             </select>
         </div>
     </div>
    <div style="margin-top:-2%;margin-left:-19%;">
        <label style="margin-left:80%;font-weight:bold;font-size:119%;">Last Update</label>
        <input type="text" class="form-control" id="date" readonly ng-value="vm.dateLast |date: 'dd-MMM-yyyy - hh:mm:ss'" style="border:1px solid #ccc;width:13%;margin-left:88%; margin-top:-3%;">
</div>
</div>
<!--Stock Available Grid-->

<div class="modal-body" style="width:259%;margin-left:-36%;margin-top:1%;">
    <br><br>
    <table class="table table-bordered grid" style="width:40%;margin-left: 10cm;margin-top:-1cm;table-layout:fixed" ng-cloak>
        <tr>
            <th style="width:6%;vertical-align:middle;" rowspan="2">
                Sl.No
            </th>
            <th style="width:12%;vertical-align:middle;" rowspan="2">
                Category Name
            </th>
            <th style="width:13%;vertical-align:middle;" rowspan="2">
                Subcategory Name
            </th>
            <th style="width:10%;vertical-align:middle;" rowspan="2">
                Material Code
            </th>
            <th style="width:12%;vertical-align:middle;" rowspan="2">
                Material Name
            </th>
            <th colspan="3" style="width:20%;text-align:center;">
                Receipt
            </th>
            <th colspan="3" style="width:20%;text-align:center;">
                Consumed
            </th>
            <th style="width:6%;vertical-align:middle;" rowspan="2">
                Avl Qty
            </th>
        </tr>

        <tr class="ratio">
            <th style="width:7%;">
                Opening Stock
            </th>
            <th style="width:7%;">
                MRN
            </th>
            <th style="width:7%;">
                Total
            </th>
            <th style="width:7%;">
                Issued
            </th>
            <th style="width:7%;">
                Transfer
            </th>
            <th style="width:7%;">
                Total
            </th>
        </tr>


        <tr stock-avl-grid index="{{$index+1}}" ng-repeat="item in vm.stockavailability | orderBy :'quantity'" item="item">
        </tr>
        <td colspan="12" ng-show="vm.stockavailability.length ===0 || vm.stockavailability == undefined || vm.stockavailability == null"
            style="text-align:center">
            No Records Found
        </td>
        </tr>

    </table>
</div>
<div class="row">
    <div class="col-md-6 showEnt" ng-show="true" style="margin-left:7%;">
        <!--Total Rows : {{vm.rowCnt}}-->
        <span ng-if="vm.stockavailability.length > 0" style="margin-left:-33%;"> Total Rows : {{vm.rowCnt}}</span>
        <span ng-if="vm.stockavailability === undefined || vm.stockavailability ===0 || vm.stockavailability == null" style="margin-left:-33%;"> Total Rows : 0 </span>
    </div>
    <div class="col-md-2 pagination" style="margin-left:25%;">
        <pagination ng-show="vm.rowCnt > vm.ddlRows" ng-model="currentPage" items-per-page="vm.ddlRows" total-items="vm.rowCnt" max-size="maxSize"
            boundary-links="true">
        </pagination>
    </div>
</div>
</div>