<div class="row">


  <div class="col-md-12">
    <h4><a ui-sref="master.mrn"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i></a> &nbsp;&nbsp;Edit Material Receipt</h4><br>
    
    <div class="col-md-12">
    <div class="col-md-4">
        <label for="invoicedate">Invoice date &nbsp;:</label>
        <span>IN056215455</span><br>
        <label for="invoicedate">Invoice No &nbsp;&nbsp;&nbsp;&nbsp;:</label>
       <span>18-02-2016</span>   
    </div>
    <div class="col-md-4">
      <label for="Pono">Purchase Order No</label>
        <select class="input-sm">
          <option value="">PO001</option>
          <option value="">PO002</option>
          <option value="">PO003</option>
          <option value="">PO004</option>
        </select>
    </div>       
    <div class="col-md-4">
       <label for="invoicedate">Vehicle no &nbsp;:</label>
        <span>TN22 A1234</span><br>
        <label for="vechicletype">Vechicle Type</label>
        <select class="input-sm">
          <option value="">Lorry</option>
          <option value="">Van</option>
          <option value="">By hand</option>
          <option value="">Mini van</option>
        </select>
    </div>
    </div>
    
    
    <div class="col-md-12">
     <div class="table-responsive"> 
      <div class="row">
      
          <div class="col-xs-12">

            <!-- /.box -->
              <div class="col-xs-12">
        <button class="btn btn-remove btn-success pull-right" type="button"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add</button>
      </div><br><br> 
      <section class="content">
            <div class="box box-info">
              <div class="box-header">
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>S no</th>
                      <th>Material Description</th>
                      <th>UOM</th>
                      <th>Quantity </th>
                      <th>Received Quantity </th>
                      <th>Pending Quantity</th>
                      <th>Rate</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>
                          
               <select class="form-control input-sm col-md-6">
                    <!--<option>Select</option>-->
                    <!--<option>50 * 50 Sliding material</option>
                    <option>25 * 35 Casement material </option>-->
                    <option>75 * 25 Tilt Window</option>
                    <!--<option>45 * 25 Sliding Window </option></select>-->
                      </td>
                      <td><select class="form-control input-sm">
                    <!--<option>Select</option>-->
                    <!--<option>Sq.ft</option>-->
                    <option>Nos.</option>
                        </select>
                        </td>
                      <td> <input type="text" class="input-mini" value="150"/> </td>
                      <td> <input type="text" value="100">  </td>
                      <td><input type="text" value="120"></td>
                      <td><input type="text" value="23456"></td>
                      <td><button class="btn btn-danger btn-sm" data-title="Delete"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>
                          
               <select class="form-control input-sm col-md-6">
                    <!--<option>Select</option>-->
                    <option>50 * 50 Sliding material</option>
                    <!--<option>25 * 35 Casement material </option>
                    <option>75 * 25 Tilt Window</option>
                    <option>45 * 25 Sliding Window </option></select>-->
                      </td>
                      <td><select class="form-control input-sm">
                    <!--<option>Select</option>-->
                    <option>Sq.ft</option>
                    <option>Nos.</option>
                        </select>
                        </td>
                      <td> <input type="text" class="input-mini" value="150"/> </td>
                      <td> <input type="text" value="200" </td>
                      <td><input type="text" value="250" </td>
                      <td><input type="text" value="59000"</td>
                      <td><button class="btn btn-danger btn-sm" data-title="Delete"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>
                          
               <select class="form-control input-sm col-md-6">
                    <!--<option>Select</option>-->
                    <!--<option>50 * 50 Sliding material</option>
                    <option>25 * 35 Casement material </option>
                    <option>75 * 25 Tilt Window</option>-->
                    <option>45 * 25 Sliding Window </option></select>
                      </td>
                      <td><select class="form-control input-sm">
                    <!--<option>Select</option>-->
                    <option>Sq.ft</option>
                    <option>Nos.</option>
                        </select>
                        </td>
                      <td> <input type="text" class="input-mini" value="150"/> </td>
                      <td> <input type="text" value="150" </td>
                      <td><input type="text" value="100" </td>
                      <td><input type="text" value="22300"</td>
                      <td><button class="btn btn-danger btn-sm" data-title="Delete"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>
                          
               <select class="form-control input-sm col-md-6">
                    <!--<option>Select</option>-->
                    <option>50 * 50 Sliding material</option>
                    <!--<option>25 * 35 Casement material </option>
                    <option>75 * 25 Tilt Window</option>
                    <option>45 * 25 Sliding Window </option></select>-->
                      </td>
                      <td><select class="form-control input-sm">
                    <!--<option>Select</option>
                    <option>Sq.ft</option>-->
                    <option>Nos.</option>
                        </select>
                        </td>
                      <td> <input type="text" class="input-mini" value="150"/> </td>
                      <td> <input type="text" value="300"  </td>
                      <td><input type="text" value="0" </td>
                      <td><input type="text" value="32000"</td>
                      <td><button class="btn btn-danger btn-sm" data-title="Delete"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>  
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><b>Total Amount</b></td>
                      <td><input type="text" value="100000" readonly></td>
                      <td></td>
                    </tr>
                    </tbody>
                </table><br>
                <!--<label > Forward to :&nbsp;&nbsp;<select class="input-mini input-sm">
                    <option>Select</option>
                    <option>Nandagopal Palani</option>
                    <option>Munusamy Ratnam</option>
                    <option>Dhakshnamoorthy</option>
                    <option>Narendran Kamalanathan</option>
                </select>-->

          <span class="pull-right">
          <button type="button" class="btn btn-warning btn-flat ">Update</button>
          <button type="button" class="btn btn-warning btn-flat ">Cancel</button>
        </span>
      
              </div>
              
              <!-- /.box-body -->
            </div>
            
            <!-- /.row -->
      </section>

      <div class="clearfix"></div>
     

      </div>

      </div>
    </div>
  </div>
  </div>